body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,form,td{
    margin:0;
    padding:0;
}

table{
    border-collapse:collapse;
    border-spacing:0;
}

fieldset,img{
    border:0;
}

ol,ul{
    list-style:none;
}

input,textarea,select{
    font-family:Verdana,arial, sans-serif;
    font-size:inherit;
    font-weight:inherit;
}

html{
    _background-image:url(about:blank);
    _background-attachment:fixed;
     _overflow-x:hidden;
     min-height:100%;
}

h1,h2,h3,h4,h5,h6{
    font-size:100%;
}

body{
    font-family:"Arial","微软雅黑","宋体";
    font-size: 12px;
    color:#000;
}

a{
    text-decoration:none;
}

em{
    font-style:normal;
}

strong{
    font-weight:inherit;
}

/*  */

.bg{ 
    position:fixed;
    left:0;
    right:0;
    margin:0 auto;
    text-align:center;
    overflow:hidden;
    z-index:1;
}

.bg img{
    min-width: 100%;
    min-height: 100%;
}


.login_window{
    position: relative;
    margin: 0 auto;
    padding: 80px;
    width: 35%;
    height: 300px;
    z-index: 2;
}

.login_window_title{
    border-bottom: 0;
    font-size: x-large;
    height: 50px;
    padding-top: 15px;
    border-radius:10px 10px 0 0;
    background-color: white;    
}

.login_window_title p{
    margin-left:20px;
}

.login_form{
    height: 270px;
    background-color: white;
}

.login_form_input{
    padding: 25px;
    font-size: x-large;
}

.login_form_input input{
    margin: auto;
    width: 85%;
    height: 36px;
}

.login_form_submit{
    border: 1px solid black;
    border-radius: 25px;
    background-color: #0099ff;
    color: white;
    margin-top: 10px;
    margin-left: calc(60% - 10px);
    width: 25%;
    height: 36px;
}

/*  */

.header{
    background-color: blanchedalmond;
    width: 100%;
    height: 64px;
}

.main_div{
    background-color: blanchedalmond;
    width: 100%;
    height: 64px;
}

.select_site_form{
    background-color: black;
    width: 100%;
    height: 64px;
}

.worker_list_form{
    background-color: rebeccapurple;
    width: 100%;
    height: 64px;
}

.logout_message{
    display: none;
    position: absolute;
    margin: auto auto;
    width: 300px;
    height: 85px;
    background-color: white;
    box-shadow: 1px 1px 10px black;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 400;
    text-align: center;
} 

.logout_message span{
    font-size: x-large;
}

.logout_message button{
    border: 0 solid black;
    box-shadow: 1px 1px 3px black;
    background-color: white;
    color: black;
    margin-top: 15px;
    width: 18%;
    height: 26px;   
}

.select_sites_window{
    position: absolute;
    width: 650px;
    height: 300px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 1px 1px 10px black;
    z-index: 400;
}

.select_sites_list caption{
    width: 100%;
    height: 40px;
    box-shadow: 0 -1px 2px black;
    font-size: 25px;
    text-align: center;
    background-color: white;
}

.select_sites_list{
    width: 100%;
    overflow:auto;
    height: 250px;
}

.select_sites_list table{
    border: 0 solid;
    width: 100%;
}

.select_sites_list table tr{
    text-align: center;
    height: 30px;
}


.mask{
    display: none;
    position: fixed;
    width: 100%;
    height: 2048px;
    background-color: white;
    z-index: 300;
    opacity: 0.2;
}