<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
    <title>登录页面</title>
</head>

<body>
    <div class="select_site_window" id="select_site_window">
        <div class="select_sites">
            <p>
                工地列表
                <button onclick="hide('select_site_window','mask')">x</button>
            </p>

            <div class="select_sites_list">
                <table border=2 id="sites_table">
                    <caption></caption>
                    <tr>
                        <th id="site_name">工地名称</th>
                        <th id="site_address">工地地址</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="logout_message" id="logout_message">
        <span>是否退出登录</span>
        <br>
        <button onclick="logout()">确定</button>
        <button onclick="hide('logout_message','mask')">取消</button>
    </div>
    <div class="mask" id="mask"></div>

    <div class="header">
        <button onclick="show('logout_message','mask')">退出登陆</button>
        <button onclick="show('select_site_window','mask')">选择工地</button>
    </div>
    <div class="worker_list_form">
        <div class="worker_list" id="worker_list">
            <table border=2 id="worker_table">
                <caption></caption>
                <tr>
                    <th id="site_name">id</th>
                    <th id="site_address">姓名</th>
                    <th id="site_address">性别</th>
                    <th id="site_address">身份证号码</th>
                    <th id="site_address">居住地址</th>
                </tr>
            </table>
        </div>
    </div>
    </div>
</body>


<script>
    Ajax({
        method: "POST",
        url: "/",
        async: true,
        data: {
            "type": "get_sites"
        },
        timeout: 1000,
        callback: function (success, result) {
            if (success) {
                var results = result.split(' ');
                var table_list = document.getElementById("sites_table");
                for (let index = 0; index < results.length; index += 2) {

                    let array = new Array();
                    array.push("<td>", results[index], "</td>");
                    array.push("<td>", results[index + 1], "</td>");
                    array.push("<td><button onclick = \"getSiteWorkers('", results[index], "');\">", "选择", "</button></td>");
                    var tr = document.createElement("tr");
                    tr.innerHTML = array.join('');
                    table_list.appendChild(tr);
                }
            } else {
                alert("获取工地信息失败,错误代码:" + result);
            }
        },
    });

    function logout() {
        Cookie.delete('token');
        location.reload();
    }

    function getSiteWorkers(siteName) {
        hide('select_site_window', 'mask')
        Ajax({
            method: "POST",
            url: "/",
            async: true,
            data: {
                "type": "get_workers",
                "site_name": siteName
            },
            timeout: 1000,
            callback: function (success, result) {
                if (success) {
                    var results = result.split(' ');
                    var worker_list = document.getElementById("worker_table");
                    if (results.length <= 1) {
                        alert(siteName+"没有人员信息")
                        return;
                    }
                    worker_list.innerHTML = "<tr><th>id</th><th>姓名</th><th>性别</th><th>身份证号码</th><th>居住地址</th></tr>";
                    for (let index = 0; index < results.length; index += 5) {
                        let r = document.createElement("tr");
                        let array = new Array();
                        
                        array.push("<td>",results[index],"</td>");
                        array.push("<td>",results[index+1],"</td>");
                        array.push("<td>",results[index+2],"</td>");
                        array.push("<td>",results[index+3],"</td>");
                        array.push("<td>",results[index+4],"</td>");

                        r.innerHTML = array.join('');
                        worker_list.appendChild(r);
                    }   
                } else {
                    alert("无法获取工人信息,错误代码:" + result);
                }
            },
        });



        console.log(siteName);
    }

</script>

</html>