<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录页面</title>
</head>

<body>
    <button onclick="logout()">退出登陆</button>
    <div>
        <form action="search/" method="GET">
            检索:
            <ol>
                <li>姓名: <input type="text" name="name"></li>
                <li>性别: <input type="text" name="sex"></li>
                <li>id号: <input type="text" name="id"></li>
            </ol>
            <input type="submit" value="提交">
        </form>
    </div>
</body>
<script>

    function getCookie(name) {
        var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");
        if (arr = document.cookie.match(reg))
            return unescape(arr[2]);
        else
            return null;
    }

    function delCookie(name) {
        var exp = new Date();
        exp.setTime(exp.getTime() - 1);
        var cval = getCookie(name);
        if (cval != null)
            document.cookie = name + "=" + cval + ";expires=" + exp.toGMTString();
    }

    function logout() {
        delCookie('token');
        location.reload();
    }

</script>

</html>