<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
    <title>登录页面</title>
</head>

<body>
    <div>
        <div class="header">
            <button onclick="logout()">退出登陆</button>

        </div>
        <div class="main_div">
            <div class="select_site_form">
                <select name="" id="sites_select">

                </select>
            </div>
            <div class="worker_list_form">

            </div>
        </div>
    </div>
</body>


<script>
    
    var sites_select = document.getElementById("sites_select");
    sites_select.onchange = function(event){
        console.log(event);
    }
    
    Ajax({
        method:"POST",
        url:"/",
            async:true,
            data:{
                "type":"get_sites"
            },
            timeout:1000,
            callback:function(success,result){
                if (success) {
                    var results = result.split(' ');
                    for (const value of results) {
                        sites_select.options.add(new Option(value, 1))
                    }
                }else{
                    alert("获取工地信息失败,错误代码:"+result);
                }
            },
        });
    


    function logout() {
        Cookie.delete('token');
        location.reload();
    }

    

</script>

</html>