<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
    <title>登录页面</title>
</head>

<body>
    <div class="bg">
        <img src="{% static 'img/bg.jpeg' %}" alt="">
    </div>
    <div class="login_window">
        <div class="login_window_title">
            <p>用户登录</p>
        </div>
        <div class="login_form">
            <div class="login_form_input">
                <input type="text" id="user_name" placeholder="用户名">
                <img src="" alt=" ">
            </div>
            <div class="login_form_input">
                <input type="password" id="user_password" placeholder="密码">
                <img src="" alt=" ">
            </div>
            <button class="login_form_submit" id="login_button" onclick="login()">登录</button>
        </div>

    </div>

</body>

<script>
    
    var password_input = document.getElementById("user_password");
    password_input.onkeydown = function(event){
        if (event.keyCode == 13) {
            login();
        }
    }

    var name_input = document.getElementById("user_name");
    name_input.onkeydown = function(event){
        if (event.keyCode == 13) {
            password_input.focus();        
        }
    }
    
    function login() {
        name = document.getElementById("user_name").value;
        password = document.getElementById("user_password").value;


        var login_button = document.getElementById("login_button");
        login_button.setAttribute("disabled", "disabled");
        Ajax({
            method:"POST",
            url:"/login/",
            async:true,
            timeout:1000,
            data:{
                "user_name": name,
                "user_password": password
            },
            callback:function(success,result){
                if (success) {
                    var list = result.split(' ');
                    if (list[0] == '0') {
                        alert(list[1]);
                    } else if (list[0] == '1') {
                        Cookie.set("token", list[1])
                        location.reload();
                    }
                }else{
                    alert("登录失败,错误代码:"+result);
                }
                login_button.removeAttribute("disabled")
            },
        });
    }
</script>

</html>